
	$fillColor: #002e4d;

	$barColor: #00497b;

	$buttonColor: #0068af;

	$goalTextColor: #fff;

	$textColor: #83c5f1;

	$tenHundred: 1000px;

	$eightHundred: 800px;

	$sixHundred: 600px;

	$fourHundred: 400px;